@import "./_variables";

#header {
  height: 55px;
  width: 100%;
  z-index: 99;

  @media (max-width: 800px) {
    .header-info {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .header-title {
    padding: 15px;
  }
  .header-info {
    width: 70%;
    padding: 15px;
    text-align: right;
  }
}

.profile {
  position: relative;
  float: right;
  width: 125px;
  height: 55px;
}
.dropdownProfile{
  display: none;
}
.dropdownProfile.active {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 100px;
  padding: 10px;
  box-shadow: 3px 3px 3px #ddd;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;

  ul {
    list-style:none;
    padding-left:0px;
  }

  li{
    font-size: 14px;
    color: #888;
    text-align: center;
    padding-bottom: 10px;
  }
}

.profile_header {
  background-color: rgb(230, 230, 230);
  position: absolute;
  top: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;

  .profile_icon {
    position: absolute;
    top: 4px;
    left: 7px;
    font-size: 25px;
    color: white;
  }
}

.profile_name {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  
  div {
    margin-right: 5px;
    display: inline;
  }
}

.uploadBtn {
  position: absolute;
  right: 170px;
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-size: 13px;

  .uploadBtn_icon {
    font-size: 20px;
    color: rgb(83, 80, 80);
  }
}
#popover div div {
  width: 100%;
  cursor: pointer;
}
