table{width: 100%; border-collapse: collapse;}
.medicineTable{
    height: 50px;
    td{width: 33%; text-align: center; border-bottom: 1px solid #ddd; padding: 10px;}
    .medicineLeft{display: flex; align-items: center;}
    .name{font-size: 22px; font-weight: bold;margin-right: 6px;}
    .classs{font-size: 14px; color: #666;}
    .date{font-size: 14px; color: #666;}
}